<div class="row">
    <div class="col-lg-12">
        <div class="ibox-content" ng-controller="MainCtrl" data-ng-init="init()">
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="overflow-x: scroll">
                            <span class="btn btn-default" tooltip-placement="top" uib-tooltip="Add Class"> <i
                                    class="fa fa-plus"></i>
                            </span>
                            <table datatable="ng" dt-options="dtOptions" id="class"
                                   class="table table-bordered dataTables-example table-hover  goal-dashboard-center">
                                <thead>
                                <tr>
                                    <th rowspan="2">id</th>
                                    <th rowspan="2">Name</th>
                                    <th rowspan="2">Date Of birth</th>
                                    <th rowspan="2">School</th>
                                    <th rowspan="2">Class^v</th>
                                    <th rowspan="2">Divison</th>
                                    <th rowspan="2">Status</th>
                                    <th rowspan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="class in classList">
                                    <td>{{class._id}}</td>
                                    <td>{{class.fullName}}</td>
                                    <td>{{class.dob}}</td>
                                    <td>{{class.school}}</td>
                                    <td>{{class.class}}</td>
                                    <td>{{class.divison}}</td>
                                    <td>{{class.status}}</td>
                                    <td>
                                        <a ng-click="editClass()"><b>Edit</b></a>
                                        <a ng-click="deleteClass($index)"> || <b>Delete</b></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--Form for CRUD functionality-->
                            <form class="form-horizontal" role="form" name="addClassForm" id="addClassForm"
                                  novalidate>
                                <div class="form-group required"
                                     ng-class="{ 'has-error' : addClassForm.fullName.$invalid && addClassForm.fullName.$dirty }">
                                    <label class="control-label col-sm-4" for="fullName">Full Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="fullName" class="form-control" name="fullName"
                                               required
                                               ng-model="addClassFormData.fullName"
                                               ng-minlength="1"
                                               ng-maxlength="55"
                                               placeholder=" "
                                        />
                                        <div ng-show="addClassForm.fullName.$invalid && addClassForm.fullName.$dirty">
                                            <p ng-show="addClassForm.fullName.$error.required"
                                               class="help-block">
                                                Name is required
                                            </p>
                                            <p ng-show="addClassForm.fullName.$error.minlength"
                                               class="help-block">
                                                Name Cannot be less than 1 Character
                                            </p>
                                            <p ng-show="addClassForm.fullName.$error.maxlength"
                                               class="help-block">
                                                Name cannot exceed 55 Characters
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--End of full name -->
                                <!-- We can use moment.js here to look date time UI great-->
                                <div class="form-group required"
                                     ng-class="{ 'has-error' : addClassForm.dob.$invalid && addClassForm.dob.$dirty }">
                                    <label class="control-label col-sm-4" for="dob" >Date Of Birth</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="btn btn-default input-group-addon" tooltip-placement="top" uib-tooltip="Enter date of birth" >
                                                 <i class="fa fa-info"></i>
                                            </span>
                                            <input name="dob" id="dob" type="date" class="form-control" ng-model="addClassFormData.dob" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD" date-time required />
                                                        <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                        </div>

                                    </div>
                                </div>
                                <!-- End of date of birth-->
                                <div class="form-group required"
                                     ng-class="{ 'has-error' : addClassForm.school.$invalid && addClassForm.school.$dirty }">
                                    <label class="control-label col-sm-4" for="school">School</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="school" class="form-control" name="aadhar"
                                               ng-model="addClassFormData.school"
                                               placeholder="Enter Your School name  "
                                               required
                                        />
                                        <div ng-show="addClassForm.school.$invalid && addClassForm.school.$dirty">
                                            <p ng-show="addClassForm.school.$error.required" class="help-block">
                                                School Name is required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of School -->
                                <!--We can show error on min and max- will do it later-->
                                <div class="form-group "
                                     ng-class="{ 'has-error' : addClassForm.class.$invalid && addClassForm.class.$dirty }">
                                    <label class="control-label col-sm-4" for="class">Class</label>
                                    <div class="col-sm-7">
                                        <input type="number" id="class" class="form-control" name="class"
                                               ng-model="addClassFormData.class"
                                               placeholder="Enter class "
                                               min="1"
                                               max="12"
                                        />
                                        <div ng-show="addClassForm.class.$invalid && addClassForm.class.$dirty">
                                            <p ng-show="addClassForm.class.$error.min" class="help-block">
                                                Class cannot be less than 1
                                            </p>
                                            <p ng-show="addClassForm.class.$error.max" class="help-block">
                                                Class cannot be greater than 12
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of class-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : addClassForm.divison.$invalid && addClassForm.divison.$dirty }">
                                    <label class="control-label col-sm-4" for="divison">Divison</label>
                                    <div class="col-sm-7">
                                        <input type="number" id="divison" class="form-control" name="divison"
                                               ng-model="addClassFormData.divison"
                                               placeholder="Enter Divison "
                                               min="1"
                                               max="12"
                                        />
                                        <div ng-show="addClassForm.divison.$invalid && addClassForm.divison.$dirty">
                                            <p ng-show="addClassForm.divison.$error.min" class="help-block">
                                                Divison cannot be less than 1
                                            </p>
                                            <p ng-show="addClassForm.divison.$error.max" class="help-block">
                                                Divisoncannot be greater than 12
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of residential status-->
                                <div class="form-group required">
                                    <label class="control-label col-sm-4">Status</label>
                                    <div class="col-sm-7">
                                        <label class="checkbox-inline" for="inactive_no">
                                            <input icheck type="radio" id="inactive_no" ng-checked="true"
                                                   name="inactive"
                                                   ng-model="addClassFormData.status" value="inactive">
                                            inactive
                                        </label>
                                        <label class="checkbox-inline" for="inactive_yes">
                                            <input icheck type="radio" id="inactive_yes" name="inactive"
                                                   ng-model="addClassFormData.status"
                                                   value="active">
                                            Active
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group required" style="text-align: center;">
                                    <button class="btn btn-sm btn-primary" ng-disabled="addClassForm.$invalid"
                                            ng-click="submitClassInfo(addClassFormData)"><strong>Save</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

